@model Quiz
<div class="card-body">
    <p>@Model.Statement</p>
</div>
<div class="collapse" id="@(Model.QuizID)_exp">
    <div class="card card-body m-2"
         id="@(Model.QuizID)_exp_card">
        @(Model.Explanation ?? "Explanation N/A")
    </div>
</div>
<div class="btn-group-vertical mx-2 mt-0 mb-2">
    @foreach (string opt in Model.Options.ShuffleItems())
    {
        <label id="@(Model.QuizID)_@(opt.GetHashCode())"
               class="btn btn-outline-secondary text-left"
               onclick="ValidateOption(@(Model.Answers.Contains(opt).ToString().ToLower()), '@(Model.QuizID)_@(opt.GetHashCode())', @Model.QuizID, @Model.Answers.Count())">
            <!--input type="radio" name="option_@Model.QuizID" value="@opt" /-->
            @opt
        </label>
    }

</div>