@model Quiz
<div class="card-body">
    <p>@Model.Statement</p>
</div>

<div id="step_@Model.QuizID" class="btn-group-vertical text-center m-2">

    @for (int i = 0; i < Model.Answers.Count() - 1; i++)
    {
            <label id="step_@(Model.QuizID)_@i"
                   class="btn btn-secondary text-center">
                Not Selected
            </label>
            <div class="btn border-0">
                <svg width="20px" height="20px">
                    <polygon points="0,0 10,20 20,0"
                             style="fill:gray" />
                </svg>
            </div>
    }
        <label id="step_@(Model.QuizID)_@(Model.Answers.Count() - 1)"
               class="btn btn-secondary text-center">
            Not Selected
        </label>
</div>
<div class="collapse" id="@(Model.QuizID)_exp">
    <div class="card card-body m-2"
         id="@(Model.QuizID)_exp_card">
        @(Model.Explanation ?? "Explanation N/A")
    </div>
</div>
<div class="btn-group-vertical mx-2 mt-4 mb-2">
    @foreach (string opt in Model.Options.ShuffleItems())
    {
        <label id="@(Model.QuizID)_@(opt.GetHashCode())"
               class="btn btn-outline-secondary text-left"
               onclick="ValidateSequence(@(Model.Answers.GetIndex(opt)), '@(Model.QuizID)_@(opt.GetHashCode())', @Model.QuizID, @Model.Answers.Count())">
            @opt
        </label>
    }

</div>