@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ExamControllerViewModel

<div class="container">
    <div class="row">
        <div class="col align-self-center">

            @foreach (IExamItem item in Model.Questions)
            {
            <div class="card my-3 shadow-lg">
                <div class="card-body">
                    @if (item.GetType() == typeof(ExamItem))
                    {
                        <p class="card-text">@(((ExamItem)item).Statement)</p>
                    }
                    else if (item.GetType() == typeof(ComplexStatementExamItem))
                    {
                        <div class="card-text">
                        @foreach ((HtmlTag tag, string content) seg in ((ComplexStatementExamItem)item).Statement)
                        {
                            switch (seg.tag)
                            {
                                case HtmlTag.div:
                                    <div>@seg.content</div>
                                    break;
                                case HtmlTag.p:
                                    <p>@seg.content</p>
                                    break;
                                case HtmlTag.code:
                                    <code>@seg.content</code>
                                    break;
                                default:
                                    break;
                            }
                        }
                        </div>
                    }
                </div>

                <div class="btn-group-vertical btn-group-toggle mx-2 mt-1 mb-2" data-toggle="buttons">
                    @foreach (string option in item.Options.ShuffleItems())
                    {
                    <label id="@(item.Id)_@(option.GetHashCode())" class="btn btn-outline-secondary text-left border-0" onclick="CheckAnswer('@item.Answer', '@option', '@(item.Id)_@(option.GetHashCode())')">
                        <input type="radio" name="@item.Id" value="@option" />
                        @option
                    </label>

                    }
                </div>
            </div>
            }
        </div>
    </div>

</div>